.app {
  display: flex;
  flex-direction: column;
  height: 100dvh;
  align-items: center;
  justify-content: center;
}

.chevronChart {
  display: flex;
  width: calc(100% - 9px);
  height: 50px;
}

.chevronChart__chevron {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.chevronChart__chevronPartTop {
  flex-grow: 1;
  transform: skewX(-20deg);
}

.chevronChart__chevronPartBottom {
  flex-grow: 1;
  transform: skewX(20deg);
}

@media (max-width: 768px) {
  .app {
    flex-direction: row;
  }

  .chevronChart {
    flex-direction: column-reverse;
    height: calc(100% - 9px);
    width: 50px;
  }

    .chevronChart__chevron {
        flex-direction: row;
    }

    .chevronChart__chevronPartTop {
        transform: skewY(20deg);
    }

    .chevronChart__chevronPartBottom {
        transform: skewY(-20deg);
    }
}
